:root
{
    --main-bg-color: #fff;
}
body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.problem, #title_label
{
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
}
.status-icon
{
    flex: 0 0 56px;
}
.title, #title
{
    flex: 1 0 auto;
}
.submit, .ac, .ac-rate, .non-ac, #submit, #ac, #ac_rate, #non_ac
{
    flex: 0 0 100px;
}
.chart
{
    height: 50px;
    width: 200px;
}

#title_label
{
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    z-index: 10;
}
#title
{
    padding-left: 16px;
}
#chart_label
{
    flex: 0 0 200px;
}
.popup-window-overlay
{
    background-color: #0000007f;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.popup-window
{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--main-bg-color);
    top: 25%;
    left: 25%;
}